body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  /* overflow: hidden; */
}


@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .background{
    background-repeat: no-repeat;
  }
  
  h1, p{
    width: 100%;    
    color: rgb(78, 20, 78);
  }
  
  p.pa{
    margin-left: 15px;
  }
  
  .imaga{
     height: 45px;
      display: flex;
      border-style: solid;
      border-color: whitesmoke;
      width: 298px;
      margin-top: 15px;
      border-radius: 8px;
      color: rgb(78, 20, 78);
   }
  
  img{
    width: 14px;
    height: 18px;
    margin-top: 18px;
  }
  
  .imgs{
    height: 45px;
     display: flex;
     border-style: solid;
     border-color: whitesmoke;
     width: 298px;
     margin-top: 15px;
     border-radius: 8px;
     margin-left: 20px;
     color: rgb(78, 20, 78);
  }
  
  .imgg{
    height: 45px;
     display: flex;
     border-style: solid;
     border-color: whitesmoke;
     width: 298px;
     margin-top: 15px;
     border-radius: 8px;
     margin-left: 35px;
     color: rgb(78, 20, 78);
  }
  
  .contain{
    width: 100%;
    padding: 3%;
    /* margin-top: 30px; */
  }
  
  .flexus{
    display: flex;
    position: relative;
    /* left: 17rem; */
  }
  
  .para1{
    width: 310px;
  }
  
  .header{
    padding: 2%;
    width: 75%;
  }
  
  img.colton, img.anny,img.iry{
    width: 77px;
    height: 66px;
    border-radius: 179px
  }
  
  .col, .irene, .ann{
    display: flex;
    justify-content: space-around;
    text-align: center;
  
  }
  
  .all{
    /* border-style: solid; */
      /* height: 455px; */
      display: flex;
      flex-direction: column;
      padding: 2%;
      /* position: relative; */
      /* left: 5rem; */
      /* margin-right: 34px; */
     /* background-image: url('/IMAGES/bg-pattern-bottom-desktop.svg'); */
  }
  
  
  .irenediv, .coldiv, .anndiv{
    border-style: solid;
    /* padding: 5%; */
    /* margin-left: 34px; */
    border-radius: 10px;
    padding: 2%;
    margin-top: 20px;
    background-color: rgb(78, 20, 78);
    color: white;
  }
  
  .coltest, .irenetest, .anntest{
    color: white;
    margin-left: 5px;
    margin-left: 7px;
  }
  .buyer{
    color: white;
  
  }
  h1{
    width: 290px;
    /* padding: 10%; */
  }


}
@media (min-width:768px)  { /* smartphones, Android phones, landscape iPhone */
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .background{
    background-repeat: no-repeat;
  }
  
  h1, p{
    width: 100%;    
    color: rgb(78, 20, 78);
  }
  
  p.pa{
    margin-left: 15px;
  }
  
  .imaga{
     height: 45px;
      display: flex;
      border-style: solid;
      border-color: whitesmoke;
      width: 298px;
      margin-top: 15px;
      border-radius: 8px;
      color: rgb(78, 20, 78);
   }
  
  img{
    width: 14px;
    height: 18px;
    margin-top: 18px;
  }
  
  .imgs{
    height: 45px;
     display: flex;
     border-style: solid;
     border-color: whitesmoke;
     width: 298px;
     margin-top: 15px;
     border-radius: 8px;
     margin-left: 20px;
     color: rgb(78, 20, 78);
  }
  
  .imgg{
    height: 45px;
     display: flex;
     border-style: solid;
     border-color: whitesmoke;
     width: 298px;
     margin-top: 15px;
     border-radius: 8px;
     margin-left: 35px;
     color: rgb(78, 20, 78);
  }
  
  .contain{
    width: 100%;
    padding: 3%;
    /* margin-top: 30px; */
  }
  
  .flexus{
    display: flex;
    position: relative;
    /* left: 17rem; */
  }
  
  .para1{
    width: 310px;
  }
  
  .header{
    padding: 2%;
    width: 75%;
  }
  
  img.colton, img.anny,img.iry{
    width: 77px;
    height: 66px;
    border-radius: 179px
  }
  
  .col, .irene, .ann{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }
  
  .all{
   
      display: flex;
      flex-direction: column;
      padding: 2%;
      /* position: relative; */
      /* left: 5rem; */
      width: 80%;
      /* margin-right: 34px; */
     /* background-image: url('/IMAGES/bg-pattern-bottom-desktop.svg'); */
  }
  
  
  .irenediv, .coldiv, .anndiv{
    border-style: solid;
   width: 50%;
    border-radius: 10px;
    padding: 2%;
    margin-top: 20px;
    background-color: rgb(78, 20, 78);
    color: white;
  }
  
  .coltest, .irenetest, .anntest{
    color: white;
    margin-left: 5px;
    margin-left: 7px;
  }
  .buyer{
    color: white;
  
  }
  h1{
    width: 290px;
    /* padding: 10%; */
  }
 }
@media (min-width:1024px)  { /* smartphones, Android phones, landscape iPhone */
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .background{
    background-repeat: no-repeat;
  }
  
  h1, p{
    width: 100%;    
    color: rgb(78, 20, 78);
  }
  
  p.pa{
    margin-left: 15px;
  }
  
  .imaga{
     height: 45px;
      display: flex;
      border-style: solid;
      border-color: whitesmoke;
      width: 298px;
      margin-top: 15px;
      border-radius: 8px;
      color: rgb(78, 20, 78);
   }
  
  img{
    width: 14px;
    height: 18px;
    margin-top: 18px;
  }
  
  .imgs{
    height: 45px;
     display: flex;
     border-style: solid;
     border-color: whitesmoke;
     width: 298px;
     margin-top: 15px;
     border-radius: 8px;
     margin-left: 20px;
     color: rgb(78, 20, 78);
  }
  
  .imgg{
    height: 45px;
     display: flex;
     border-style: solid;
     border-color: whitesmoke;
     width: 298px;
     margin-top: 15px;
     border-radius: 8px;
     margin-left: 35px;
     color: rgb(78, 20, 78);
  }
  
  .contain{
    width: 100%;
    padding: 3%;
    /* margin-top: 30px; */
  }
  
  .flexus{
    display: flex;
    position: relative;
    /* left: 17rem; */
  }
  
  .para1{
    width: 310px;
  }
  
  .header{
    padding: 2%;
    width: 75%;
  }
  
  img.colton, img.anny,img.iry{
    width: 77px;
    height: 66px;
    border-radius: 179px
  }
  
  .col, .irene, .ann{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }
  
  .all{
   
      display: flex;
      flex-direction: row;
      padding: 2%;
      gap: 10px;
      width: 95%;
      /* margin-right: 34px; */
     /* background-image: url('/IMAGES/bg-pattern-bottom-desktop.svg'); */
  }
  
  
  .irenediv, .coldiv, .anndiv{
    border-style: solid;
   width: 50%;
    border-radius: 10px;
    padding: 2%;
    margin-top: 20px;
    background-color: rgb(78, 20, 78);
    color: white;
  }
  
  .coltest, .irenetest, .anntest{
    color: white;
    margin-left: 5px;
    margin-left: 7px;
  }
  .buyer{
    color: white;
  
  }
  h1{
    width: 290px;
    /* padding: 10%; */
  }
 }

